<html>
	<head>
		<title>Node streaming example</title>
		{^noScript}
			<script type="text/javascript" src="public/javascripts/jquery.js"></script>
			<script type="text/javascript" src="public/javascripts/jquery.cookie.js"></script>		
			<script type="text/javascript" src="public/javascripts/underscore.js"></script>
			<script type="text/javascript" src="public/javascripts/json2.js"></script>
			<script type="text/javascript" src="public/javascripts/backbone.js"></script>
			<script type="text/javascript" src="public/javascripts/dust-core.js"></script>		
			<script type="text/javascript" src="http://localhost:8124/nowjs/now.js"></script>		
			<script type="text/javascript" src="public/templates/delayedModel.js"></script>		
			<script type="text/javascript" src="public/javascripts/clientRender.js"></script>		
			<noscript>
				<meta http-equiv="refresh" content="0;url=/?noScript=true"/>
			</noscript>			
		{/noScript}
	</head>
	<body>
		<table id="collections">
			<tr>
				<th>Delay</th>
				<th>Allows rendering on</th>
				<th>Actually rendered</th>
			</tr>
			{#collection}
				{#renderIfReady/}
			{/collection}
		</table>
	</body>
</html>